.navbar{
    background-color: rgba(52, 58, 64, 1);
    font-weight:bold;
   
    
}
.navbar a{
    color:#86C232 !important;
}
.navbar a:hover {
    color:white !important;
    border-bottom: 4px !important;
    border-top:1px;
    border-right:0;
    border-left:0;
    border-style: solid;
    border-color: white !important;
    font-weight: bold;
}
.navbar em{
    color:white;
}
#banner{
    background: url(/images/rupixen1.jpg) no-repeat;
    background-size: cover;
    background-position: center right;
    padding:0;
}

@media screen and (max-width: 770px) and (min-width: 300px){
    #banner{
        
        height:1000px !important;
    }
  }

  

#rate{
   /* position:absolute; */
   color:#86C232;
   position:relative;
   animation: animate 2s;
   animation-fill-mode: backwards;

}
@keyframes animate{
    0%{
        right:-100%;
    }
    100%{
        right: 0;
    }
}

#banner-text{
   font-family: Arial, Helvetica, sans-serif;
   font-weight: lighter;
   color: white;
  
   
}

#home-form-button{
    color:#86C232;
    font-weight:bold;
    background-color:transparent;
    border: 1px solid #86C232;
    padding: 10px;
    text-transform: uppercase; 
}

#home-form-button:hover{
    color:white !important;
    background-color: #86C232;
}

/* magic button starts here */
#banner-button{
    width: 150px !important;
   font-weight: bold;
   color: #86C232;
   text-transform: uppercase;
   letter-spacing: 4px;
   transition: 0.2s;
   position: relative ;
    display:inline-block;
    overflow: hidden;
}

#banner-button:hover{
   color:white;
   background: #86C232;
   box-shadow: 0 0 10px #86C232, 0 0 40px #86C232, 0 0 80px #86C232;
   transition-delay: 1s; 
}

#banner-button span{
   display:block;
   position:absolute;
}
/* top flow */
#banner-button span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height:2px ;
    background: linear-gradient(90deg,transparent,#86C232);

}
#banner-button:hover span:nth-child(1){
    left:100%;
    transition: 1s;
}
/* bottom flow */
#banner-button span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height:2px ;
    background: linear-gradient(270deg,transparent,#86C232);

}
#banner-button:hover span:nth-child(3){
    right:100%;
    transition: 1s;
    transition-delay:0.5s;
}
/* right flow */
#banner-button span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#86C232);

}
/* left flow */
#banner-button:hover span:nth-child(2){
    top: 100%;
    transition:1s;
    transition-delay: 0.25s;
}
#banner-button span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#86C232);

}
#banner-button:hover span:nth-child(4){
    bottom: 100%;
    transition:1s;
    transition-delay: 0.75s;
}

/* magic button ends here */

#started{
    /* background-color: #327556;
    color:white; */
    font-weight: bold;
}

#fade{
    width: 100%;
    height: 100%;
    background-color:rgba(6, 10, 7, 0.8);
    padding-bottom:100px;
    padding-top: 100px;
   
}
@media screen and (max-width: 770px) and (min-width: 300px){
    #fade{
        
        height:1000px !important;
    }
  }

#Works h2{
    color: #86C232;
    font-weight: 600;
    border-width:1px;
    border-bottom: solid;
     border-color:#86C232;
     width: 30%;
     
     
}
#Works{
   font-weight: 500;
}
hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(218, 216, 216, 0), #86C232, rgba(250, 248, 248, 0));
}

#footer{
    background-color:rgb(52, 58, 64);
    color:white;
}
#footer h3{
    color: white;
    font-weight: 600;
    border-width:1px;
    border-bottom: solid;
    border-color:#86C232;
    width: 200px;
}
p span{
    color: #86C232;
}

#authcards{
    color:white;
    background-color:transparent;
    box-shadow: 0 0 10px #86C232, 0 0 40px #86C232, 0 0 80px #86C232;
}

#authcards input{
    background:transparent;
    border-top:0;
    border-left:0;
    border-right:0;
    border-bottom:1px solid  #86C232;
    outline:none;
}
#authcards input:focus{
    height: 50px;
    color:white;
    border-bottom:1px solid  #86C232;

    box-shadow: none;
}